<!DOCTYPE html>
<html style="height: 100%;margin: 0;padding: 0;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>WaterFlowsEast.com 的邮箱验证</title>
</head>

<body style="height: 100%;margin: 0;padding: 0;">
  <table border="0" cellpadding="0" cellspacing="0" style="height: 100%;width: 100%;">
    <tr>
      <td id="topbar" style="width: 16.67%;background-color: #285a2e;text-align: center;vertical-align: top;padding-top: 20px;padding-bottom: 20px;">
        <a href="http://waterflowseast.com" style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;font-size: 96px;text-decoration: none;color: #e6e6e6;padding: 3px;border: 8px solid #e6e6e6;">流</a>
      </td>
      <td id="main" style="background-color: #eff8f0;text-align: center;vertical-align: top;">
        <h1 style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;color: #285a2e;font-size: 36px;margin-top: 20px;margin-bottom: 20px;">邮箱验证</h1>
        <p style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;color: #777;font-size: 24px;font-weight: bold;margin-top: 10px;margin-bottom: 10px;line-height: 1.1;">点击<a href="<%= email_confirm_url(confirm_token: @user.confirm_token) %>" style="text-decoration: none;color: #285a2e;padding-left: 5px;padding-right: 5px;">这里</a>进行验证，若点击无效，可复制以下链接到浏览器</p>
        <p style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;color: #777;font-size: 24px;font-weight: bold;margin-top: 10px;margin-bottom: 10px;line-height: 1.1;"><%= email_confirm_url(confirm_token: @user.confirm_token) %></p>
      </td>
    </tr>
  </table>
</body>
</html>
