<% if object.errors.any? %>
  <form class="error_messages">
    <fieldset>
      <h2 class="warning"><%= t('view.shared._error_messages.title') %></h2>

      <div class="row">
        <% object.errors.full_messages.in_groups(2).each do |msgs| %>
          <div class="small-6 columns">
            <ul>
              <% msgs.compact.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </fieldset>
  </form>
<% end %>
