.message {
  margin-bottom: 15px;

  .main {
    border-bottom: 1px solid #eee;
  }

  .content {
    margin-top: 3px;
    margin-bottom: -10px;
  }
}

.wfe-image-change {
  margin-top: 0;
}

.wfe-image-point {
  margin-top: -3px;
}

#messages div.action {
  margin-bottom: 25px;
}
