@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
     -moz-transform: scale($ratio);
      -ms-transform: scale($ratio);
       -o-transform: scale($ratio);
          transform: scale($ratio);
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
     -moz-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
       -o-transform: rotate($degrees);
          transform: rotate($degrees);
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes wobble {
  0% { -webkit-transform: translateX(0%) scale(1.1); }
  15% { -webkit-transform: translateX(-25%) rotate(-5deg) scale(1.2); }
  30% { -webkit-transform: translateX(20%) rotate(3deg) scale(1.3); }
  45% { -webkit-transform: translateX(-15%) rotate(-3deg) scale(1.3); }
  60% { -webkit-transform: translateX(10%) rotate(2deg) scale(1.2); }
  75% { -webkit-transform: translateX(-5%) rotate(-1deg) scale(1.1); }
  100% { -webkit-transform: translateX(0%) scale(1); }
}

@-moz-keyframes wobble {
  0% { -moz-transform: translateX(0%) scale(1.1); }
  15% { -moz-transform: translateX(-25%) rotate(-5deg) scale(1.2); }
  30% { -moz-transform: translateX(20%) rotate(3deg) scale(1.3); }
  45% { -moz-transform: translateX(-15%) rotate(-3deg) scale(1.3); }
  60% { -moz-transform: translateX(10%) rotate(2deg) scale(1.2); }
  75% { -moz-transform: translateX(-5%) rotate(-1deg) scale(1.1); }
  100% { -moz-transform: translateX(0%) scale(1); }
}

@-o-keyframes wobble {
  0% { -o-transform: translateX(0%) scale(1.1); }
  15% { -o-transform: translateX(-25%) rotate(-5deg) scale(1.2); }
  30% { -o-transform: translateX(20%) rotate(3deg) scale(1.3); }
  45% { -o-transform: translateX(-15%) rotate(-3deg) scale(1.3); }
  60% { -o-transform: translateX(10%) rotate(2deg) scale(1.2); }
  75% { -o-transform: translateX(-5%) rotate(-1deg) scale(1.1); }
  100% { -o-transform: translateX(0%) scale(1); }
}

@keyframes wobble {
  0% { transform: translateX(0%) scale(1.1); }
  15% { transform: translateX(-25%) rotate(-5deg) scale(1.2); }
  30% { transform: translateX(20%) rotate(3deg) scale(1.3); }
  45% { transform: translateX(-15%) rotate(-3deg) scale(1.3); }
  60% { transform: translateX(10%) rotate(2deg) scale(1.2); }
  75% { transform: translateX(-5%) rotate(-1deg) scale(1.1); }
  100% { transform: translateX(0%) scale(1); }
}

%wobble {
  -webkit-animation-name: wobble;
  -moz-animation-name: wobble;
  -o-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
}