.reveal-modal {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;

  > h1 {
    text-align: center;
  }

  table {
    margin-left: auto;
    margin-right: auto;

    td > pre {
      background-color: rgba(white, 0);
    }
  }

  #preview_content {
    background-color: $wfe-body-bg-color;
    border: 1px solid $wfe-input-border-color;
    min-height: 90%;
    padding: 20px;
  }
}

@media only screen and (min-width: 1020px) {
  .reveal-modal {
    position: fixed;
    height: 100%;

    #preview_content {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
  }
}

@media only screen and (max-width: 1019px) {
  .reveal-modal {
    position: absolute;
  }
}
