.reveal-modal {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;

  > h1 {
    text-align: center;
  }

  table {
    margin-left: auto;
    margin-right: auto;

    pre {
      border: none;
    }
  }
}

@media only screen and (min-width: 1020px) {
  .reveal-modal {
    position: fixed;
    height: 100%;
  }
}

@media only screen and (max-width: 1019px) {
  .reveal-modal {
    position: absolute;
  }
}
